<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ get_url(path='style.css') }}" rel="stylesheet" />
    <link href="{{ get_url(path='home.css') }}" rel="stylesheet" />

    {% block head %}{% endblock head %}

    <title>{% block title %}{% endblock title %} - ChenlongOS</title>
</head>

<body>
    <nav class="navbar " role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="logo" href="{{ config.base_url }}">
                <!-- <img class="navbar-logo" src="https://ssl.cdn.maodouketang.com/Fpkgonzaw5GTUFa0Bfvd_ZlO5yq1"
                    alt="ArceOS" /> -->
                ChenLong OS
                <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">
                {% for item in config.extra.navbar %}
                <a class="navbar-item has-text-weight-semibold"
                    href="{{ item.url | replace(from='$BASE_URL', to=config.base_url) }}">
                    {{ item.name }}
                </a>
                {% endfor %}
            </div>
        </div>
    </nav>

    <div class="main-content ">
        <div class="column">
            <section class="section">
                <div class="container">
                    {% block content %}{% endblock content %}
                </div>
            </section>
        </div>
    </div>
    <footer class="footer-container">
        <div class="footer-wrapper">
            <div class="footer-content">
                <div class="brand-section">
                    <div class="footer-title">ChenLong OS</div>
                </div>

                <nav class="footer-links-nav">
                    <ul class="footer-links">
                        {% for link in config.extra.footers %}
                        <li><a target="_blank" href="{{ link.path }}">{{ link.label }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
                <!-- 联系我们 -->
                <div>
                    <img width="120" src="{{ get_url(path='contact.png') }}" alt="联系我们" />
                    <p class="contact-wrap">联系我们</p>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="footer-notice">
                    <p class="copyright">Copyright © 2023 ChenLongOS. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="{{ get_url(path='js/site.js') }}"></script>
</body>

</html>