{% extends "base.html" %}

{% block title %}News{% endblock title %}

{% block content %}
<div class="news-container">
    <h1 class="page-title">新闻 & 资讯</h1>

    <div class="news-timeline">
        {% for post in section.pages %}
        <div class="timeline-item">
            <div class="timeline-marker"></div>
            
            <div class="timeline-content">
                <div class="item-date-wrapper">
                    <time class="item-date-accent">{{ post.date }}</time>
                </div>
                
                <div class="item-body">
                    <a class="item-title" href="{{ post.permalink }}">
                        {{ post.title }}
                    </a>
                    {% if post.summary %}
                    <div class="item-summary">{{ post.summary | safe }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}